*{
    margin: 0px;
    padding: 0px;
}
.name:link
{
    color: red;
}
.name:visited
{
    color:blue;
}
.name:hover
{
    color:blueviolet;
}
.name:active
{
    color: fuchsia;
}
